#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

li {
  all: unset;
}

.error {
  color: red;
  font-weight: bold;
}

.success {
  color: green;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.CardStyling {
  border: 2px solid darkgray;
  border-radius: 10px;
  margin: 2em auto;
  box-shadow: 10px 10px 5px lightgray;
  width: 400px;
  padding: 0 1em;
  padding-bottom: 1em

  
}

.space-between {
  display: flex;
  justify-content: space-between;
  margin: 0em 3em;
}

.space-around {
  display: flex;
  justify-content: center;
  gap: 0em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

button {
  margin: 0 10px;
}

.main-article-image {
  width: 90%;
  max-width: 600px;
}

.text-body {
  padding: 1em 2em;
}

textarea {
  margin-top: 1em;
  display: block;
  width: 80vw;
  max-width: 600px;
  height: 10em;
  border-radius: 10px;
}

.right-align {
  text-align: right;
  margin-top: 1em;
}
.right-align-header {
  text-align: right;
  padding-top: 1em;
}

form {
  margin: 1em auto;
  width: 80vw;
  max-width: 600px;
}

.comment-form {
  border-bottom: 2px dotted black;
}

.all-comments {
  margin-top: 2em;
}

.delete-button {
  background-color: rgba(255, 0, 0, 0.402);
  margin-bottom: 1em;
}

.delete-button:hover {
  border-color: red;
}

header {
  border-bottom: 2px black solid;
  padding-bottom: 2em;
  background-color: lightsteelblue;
}

.home-link {
  font-size: large;
  font-weight: bold;
  }

  select {
    padding: 0.2em;
    background-color: #f9f9f9;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    border-radius: 5px;
  }

  .vote-button {
    box-sizing: content-box;
    padding: 0 0.5em;
    height: 2em;
    margin: 0 1em;
    background-color: rgba(176, 196, 222, 0.424);
  }

  .border-bottom {
    border-bottom: 2px solid black;
    padding-bottom: 1.2em;
  }


.selectors {
  margin-top: 1em
}

  .avatar {
    height: 1.5em;

  }

.vote-text{
  margin-top: 3px
}

  .inline {
    margin-top: 1em;
    display: inline;
    margin-right: 0.5em
  }

  #topic-selection, #sort-order-selection {
    width: 140px
  }

  .card-layout {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 20px;
    flex: 1 1 0;
    margin-right: 2.5em
  }

  .margin-0 {
    margin: 0
  }

.margin-bottom {
  margin-bottom: 3em;
}

  .login {
    background-color: lightblue;
    outline: none;
    box-shadow: none
  }

  #comment-button {
    margin-bottom: 3em
  }

  .border-top {
    border-top: black solid 2px;
    padding: 1em
  }

  .article-body {
    padding: 0 4em;
  }
  @media only screen and (max-width: 800px) {
  .article-info {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto
    }
  }

  @media only screen and (min-width: 800px) {

    .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr 2fr;
      grid-template-rows: auto;
      grid-template-areas: 
        "title title main-article-image"
        "article-body article-body main-article-image "
        "article-body article-body article-info"
        "article-body article-body votes";
    }
  
    .title {
      grid-area: title;
      text-align: left;
      padding-left: 2em
    }
  
    .main-article-image {
      grid-area: main-article-image;
      padding: 1em 2em;
      vertical-align: middle;
    }
  
    .article-body {
      grid-area: article-body;
      padding: 0 4em;
      text-align: left;
    }
  
    .article-info {
      grid-area: article-info;
      font-weight: bold;
    }
  
    .votes {
      grid-area: votes;
    }
  
  }

  @media only screen and (min-width: 1000px) {

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "title title main-article-image"
      "article-body article-body main-article-image "
      "article-info article-info main-article-image"
      "votes votes main-article-image";
  }

  .title {
    grid-area: title;
    text-align: left;
    padding-left: 2em
  }

  .main-article-image {
    grid-area: main-article-image;
    padding: 1em 2em;
    vertical-align: middle;
  }

  .article-body {
    grid-area: article-body;
    padding: 0 4em;
    text-align: left;
  }

  .article-info {
    grid-area: article-info;
    font-weight: bold;
  }

  .votes {
    grid-area: votes;
  }

}